*{
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  background-color: grey;
  color: white;
  padding: 15px;
}

footer {
  background-color: grey;
  color: white;
  padding: 15px;
  margin-top: 15px;
}

label input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

form {
  font-weight: bold;
}

input {
  padding: 5px;
}

li {
  padding: 5px;
  margin-bottom: 10px;
  color: white;
  background-color: dodgerblue;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0px;
}

.tagmap {
  margin-top: 10px;
}

.container {
  display: flex;
}

.list_map {
  display: flex;
}

.tagging {
  flex-grow: 1;
  flex-basis: 25%;
}

.discovery {
  flex-grow: 1;
  flex-basis: 75%;
}


